
            <div class="card-body p-4" style=" margin-left:20px;margin-right:20px;">
  
              <div class="row">
  
                <div class="col-lg-7">
                  <h5 class="mb-3"><a href="#!" class="text-body"><i
                        class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                  <hr>  
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">  
                      <form class="mt-4">  
                        <div class="row mb-4">
                          <div class="col-md-6">
                            <div class="form-outline form-white">
                              <input type="text" id="typeExp" class="form-control form-control-lg"
                                placeholder="Enter your first Name" size="32" id="exp" value="{{user.first_name}}" readonly />
                              <label class="form-label" for="typeExp">First Name</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-outline form-white">
                              <input type="text" id="typeText" class="form-control form-control-lg"
                                placeholder="Enter your last name" size="30" value="{{user.last_name}}" readonly/>
                              <label class="form-label" for="typeText">Last name</label>
                            </div>
                          </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                              <div class="form-outline form-white">
                                <input type="text" id="typeText" class="form-control form-control-lg"
                                  placeholder="Enter your home adress" size="30" value="{{user.address}}" readonly />
                                <label class="form-label" for="typeExp">Home adress</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-outline form-white">
                                <input type="text" id="typeText" class="form-control form-control-lg"
                                  placeholder="Enter your email adress" size="30" value="{{user.email}}" readonly />
                                <label class="form-label" for="typeText">Email Adress</label>
                              </div>
                            </div>
                          </div>

                          <div class="row mb-4">
                            <div class="col-md-6">
                              <div class="form-outline form-white">
                                <input type="text" id="typeExp" class="form-control form-control-lg"
                                  placeholder="Enter your credit card number" size="32" id="exp" value="{{user.credit_card}}" readonly />
                                <label class="form-label" for="typeExp">Credit card</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-outline form-white">
                                <input type="text" id="typeText" class="form-control form-control-lg"
                                  placeholder="Enter your email adress" size="30" value="{{user.phone}}" readonly/>
                                <label class="form-label" for="typeText">Phone number</label>
                              </div>
                            </div>
                          </div>
                      </form>
                      </div>
                    </div>
                  </div> 
                  
  
                </div>
                <div class="col-lg-5">
  
                  <div class="card bg-primary text-white rounded-3" style="border-color:#EF7F2D" >
                    <div class="card-body" style="background-color:#EF7F2D; border-style:none">  
                      <p class="small mb-2" >Card type</p>
                      <a href="#!" type="submit" class="text-white"><i
                          class="fab fa-cc-mastercard fa-2x me-2"></i></a>
                      <a href="#!" type="submit" class="text-white"><i
                          class="fab fa-cc-visa fa-2x me-2"></i></a>
                      <a href="#!" type="submit" class="text-white"><i
                          class="fab fa-cc-amex fa-2x me-2"></i></a>
                      <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>  
                      <hr class="my-4">
  <h4 style="text-align:center;"><b>Your order</b></h4>
  <hr>
  <div class="d-flex justify-content-between">
    <p class="mb-2"><b><h5>Product</h5></b></p>
    <p class="mb-2"><b><h5>Price</h5></b></p>
  </div>
  <!--<div class="d-flex justify-content-between" *ngFor="let order of userorders" >
    <p class="mb-2">{{order.product[0].name}}</p>
    <p class="mb-2">${{order.quantity * order.product[0].selling_price}}</p>
 </div> -->
 <div class="d-flex justify-content-between" *ngFor="let product of userordersproducts" >
  <p class="mb-2">{{product.name}}</p>
  <p class="mb-2">${{product.selected_quantity * product.selling_price}}</p>
</div> 
  <hr>
                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Subtotal</p>
                       <p class="mb-2">${{Subtotal()}}</p>
                      </div>
  
                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Delivery</p>
                        <p class="mb-2">$20.00</p>
                      </div>
  
                      <div class="d-flex justify-content-between mb-4">
                        <p class="mb-2">Total(Incl. taxes)</p>
                        <p class="mb-2">${{Subtotal()+20}}</p>
                      </div>
  
                      <button (click)="addBillandDelivery()" type="button" class="btn btn-info btn-block btn-lg" style="background-color:#f8f8f8;border-color:#99B19C;">
                        <div class="d-flex justify-content-between">
                          <span>${{Subtotal()+20}}&nbsp;</span>
                          <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2" ></i></span>
                        </div>
                      </button>
  
                    </div>
                  </div>
  
                </div>
  
              </div>
  
            </div>
      