<div *ngIf="submitted">
    <h3>Product crée avec succés!</h3>
</div>

<div style="margin-top: -35px;">

<h4> <strong>Create new product :</strong> </h4>
<br>
<!--<div *ngIf="isLoggedIn && isAdminOrFournisseur" class="card mb-5" style="width: 32rem; margin-left: 200px">-->
    <div class="card mb-5" style="width: 32rem; margin-left: 200px">
    <div style="width: 350px; margin: auto;">
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="product.name" name="name"
                    ngModel />
            </div>
            <div class="form-group">
                <label for="salary">Description</label>
                <input type="text" class="form-control" id="description" required [(ngModel)]="product.description" name="description"
                    ngModel />
            </div>
            <div class="form-group">
                <label for="fonction">Buying price</label>
                <input type="text" class="form-control" id="buying_price" required [(ngModel)]="product.buying_price"
                    name="fonction" />
            </div>
            <!-- Comment made by Anas
                <div class="form-group">
                <label for="selling_price">Seeling price</label>
                <input type="text" class="form-control" id="selling_price" required [(ngModel)]="product.selling_price" name="selling_price" />
            </div> -->
            <div class="form-group">
                <label for="stock">Stock</label>
                <input type="number" class="form-control" id="stock" required [(ngModel)]="product.stock" name="selling_price" />
            </div>
            <div class="form-group">
                <label for="weight">Weight</label>
                <input type="number" class="form-control" id="weight" required [(ngModel)]="product.weight" name="selling_price" />
            </div>
            <div class="form-group mb-3">
                <label for="weight">Image</label>
                <input type="text" class="form-control" id="weight" required [(ngModel)]="image.img" name="image" />
            </div>
            <div class="form-floating">
                <select class="form-select" [(ngModel)]="selectedCategory" id="floatingSelect" aria-label="Floating label select example">
                  <option selected>Open this select menu</option>
                  <option  *ngFor="let category of categories" value={{category.id}}>{{category.name}}</option>
                </select>
                <label for="floatingSelect">Choose a Category </label>
            </div>
            <br>
            <button (click)="createProduct()" class="btn" style="background-color: #EF7F2D; color: white;">Create</button>
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert"> {{errorMessage}}</div>
        </div>
        <br>
    </div>
</div>
</div>
</div>