<div class="container mb-5" style="margin-left : 200px; margin-top:20px">
  <div class="row">
      <h4 class="text-center" style="margin-left : -120px" > <strong>Login :</strong> </h4>
      <div class="card p-5" style="width: 32rem; margin-left: 200px" >
          <div class="form-group">
              <label for="name">Email</label>
              <input type="email" class="form-control" id="email" required [(ngModel)]="email" name="email" ngModel />
          </div>
          <div class="form-group mb-3">
              <label for="name">Password</label>
              <input type="password" class="form-control" id="password" required [(ngModel)]="password" name="password" ngModel />
          </div>
          <a  type="submit" (click)="login()" class="btn btn-primary fadeIn fourth" style="background-color: #EF7F2D; border-color:#EF7F2D; color: white; width:100px;height:30px;margin-left:150px;" >Log In</a>
          <div *ngIf="!connect" class="alert alert-danger text-center" role="alert" style="height:60px; margin-top: 15px;">
            <span style=" font-size: 15px;">
              Email ou mot de passe incorrecte!!
            </span>
          </div>        
          <a role="button"  class="p-2" ><h6>Create an account ?</h6></a>
        <!--  <div *ngIf="errorMessage" class="alert alert-danger" role="alert"> {{errorMessage}}</div>-->
      </div>

                      
  </div>
</div>